.terminal{
    min-width: 25vw;
    min-height: 25vh;
    max-width: 90vw;
    max-height: 50vh;
    position: relative;
    display: flex;
    flex-direction: column;
}
.terminal>input{
    width: 90%;
    margin-left: 5%;
}
.terminal>.terminal-output-container{
    width: 100%;
    flex-grow: 1;
    overflow-y: scroll;
}